/* blank slate */
* {
  box-sizing: border-box;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

body {
  background-color: #fff;
}

body,
main {
  height: 100%;
  width: 100%;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  font-family: sans-serif;
  margin: 0.5rem 0 2rem 0;
}

article {
  cursor: pointer;
  width: 90%;
  height: 8rem;

  display: flex;
  flex-direction: row;
  justify-content: center;

  border: 1px solid #000;
  background-color: #ffffff;
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;

  transition: 0.5s;
}
article:hover {
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
}

.card-pic {
  height: 10rem;
  width: 40rem;

  border-radius: 0 0 1.3rem 0;

  background-image: url("./assets/example.jpg");

  background-size: cover;
  background-position: bottom;

  transition: 0.5s;
}

.text {
  max-width: 80%;

  padding: 0 5% 0 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-fade {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 0) 100%
  );
}
.cardOpen > .text > .text-fade {
  display: none;
}

.text > img {
  max-width: 80%;
}

h2 {
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: sans-serif;
}

p {
  font-size: 1.6rem;
}
